[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "git-aliases"]
	path = git-aliases
	url = https://github.com/mdumitru/git-aliases
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
[submodule "ls"]
	path = ls
	url = https://github.com/zpm-zsh/ls
