# config file for dotfiles
# 1 to install, 0 to skip
# vim: ft=sh

DOT_FISH=1
DOT_FNM=0
DOT_GUI_SCRIPTS=1
DOT_I3=1
DOT_KITTY=1
DOT_NEOVIM=1
DOT_NVM=0
DOT_PROFILE=1
DOT_PY3STATUS=1
DOT_ROFI=1
DOT_STARSHIP=1
DOT_UTILS=1
DOT_VIM=0
DOT_ZSH=0
