[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Suckless terminal emulator for X
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/home/erwilson/.local/share/st/terminal-512.png
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
StartupWMClass=st-256color
